<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flabedu.blackpostoffice.parkyounghwan.mapper.UserMapper">
    <select id="selectUserByEmail" resultType="com.flabedu.blackpostoffice.parkyounghwan.domain.User">
        SELECT * FROM USER WHERE email = #{email}
    </select>

    <insert id="insertUser" parameterType="com.flabedu.blackpostoffice.parkyounghwan.domain.User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO USER (name, email, password)
        VALUES (#{name}, #{email}, #{password})
    </insert>

    <delete id="deleteAllUser">
        DELETE FROM USER
    </delete>
</mapper>