<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flabedu.blackpostoffice.domain.mapper.PostMapper">

    <insert id="createMyPost" parameterType="com.flabedu.blackpostoffice.domain.model.Post" useGeneratedKeys="true"
            keyProperty="postId">
        INSERT INTO post (post_id, email, title, content, created_at)
        VALUES (#{postId}, #{email}, #{title}, #{content}, #{createdAt});
    </insert>

    <select id="getPosts" parameterType="Map" resultType="com.flabedu.blackpostoffice.domain.model.Post">
        SELECT title, content
        FROM post as i
                 JOIN (SELECT post_id
                       FROM post
                       WHERE email = #{email}
                       ORDER BY created_at DESC LIMIT #{pageSize}
                       OFFSET #{pageNo}) as temp on temp.post_id = i.post_id
    </select>

    <update id="updateMyPost" parameterType="com.flabedu.blackpostoffice.domain.model.Post">
        UPDATE post
        SET content = #{content}, title = #{title}
        WHERE post_id = #{postId}
    </update>

    <delete id="deleteMyPost" parameterType="Long">
        DELETE FROM post
        WHERE post_id = #{postId}
    </delete>

</mapper>