<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.flabedu.blackpostoffice.domain.mapper.UserMapper">

    <insert id="join" parameterType="com.flabedu.blackpostoffice.domain.model.User">
        INSERT INTO user (address, created_at, email, nick_name, password, phone, user_role, profile_image)
        VALUES (#{address}, #{createdAt}, #{email}, #{nickName}, #{password}, #{phone}, #{role}, #{profileImagePath});
    </insert>

    <select id="isExistsByEmail" resultType="boolean">
        SELECT EXISTS
                   (SELECT email FROM user WHERE email = #{email});
    </select>

    <select id="getUserByEmail" parameterType="String" resultType="com.flabedu.blackpostoffice.domain.model.User">
        SELECT address, email, nick_name, password, phone, profile_image
        FROM user
        WHERE email = #{email}
    </select>

    <select id="getPasswordByEmail" parameterType="String" resultType="String">
        SELECT password
        FROM user
        WHERE email = #{email}
    </select>

    <select id="getUserRoleByEmail" parameterType="String" resultType="String">
        SELECT user_role
        FROM user
        WHERE email = #{email}
    </select>

    <select id="getProfileImage" parameterType="String" resultType="String">
        SELECT profile_image
        FROM user
        WHERE email = #{email}
    </select>

    <update id="updateUserInfo" parameterType="com.flabedu.blackpostoffice.domain.model.User">
        UPDATE user
        SET profile_image = #{profileImagePath}
        WHERE email = #{email}
    </update>

    <update id="updateNullProfileImage" parameterType="String">
        UPDATE user
        SET profile_image = null
        WHERE email = #{email}
    </update>

</mapper>